<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.widget.recorder.duongnv.widget_recorder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
</manifest>
